<!doctype html>
<% include ../partials/headAdmin %>
<body>
  <% include ../partials/navigationAdmin %>
  <% include ../partials/searchbar %>

  <div class="wrapper cont-item">
    <div class="cont-item-wrapper">
      <div class="taskbar-inner">
        <a href="" class="taskbar-btn button btn-red">Send Email</a>
        <a class="taskbar-btn button btn-red">End Workshop</a>
        <a class="taskbar-btn button btn-red">Delete Workshop</a>
        <a class="taskbar-btn button btn-red" data-popup-open="popup-1">Save Changes</a>
      </div>
      <form id="editWorkshopForm" action="/sc-admin/editWorkshop" method="POST">
        <div class="cont-left">
      <form action="/sc-admin">
        <div class="cont-left cont-opaque">
          <h class="item-desc-title">Description</h>
          <textarea class="input input-item input-desc" type="text" name="description"  onkeyup="auto_grow(this)"><%- ws["desc"] %></textarea>
          </textarea>
        </div>
        <div class="cont-right">
          <input class="item-row input-item" type="text" name="title" placeholder="Title"
          value= '<%- ws["title"] %>'>
          <input class="item-row input-item" type="text" name="category" placeholder="category">
          <input class="item-row input-item" type="text" name="date" placeholder="date"
          value='<%- ws["date"] %>'>
          <input class="item-row input-item" type="text" name="time" placeholder="time"
          value='<%- ws["time"] %>'>
          <input class="item-row input-item" type="text" name="Level" placeholder="Level">
        </div>
      </form>
    </div>

    <div class="cont-registered">
      <ul class="edit-list-wrapper">
        <li class="edit-item dashboard-title">
          <span class="col name-title">Name</span>
          <span class="col contact-title">Contact</span>
          <span class="col email">Email</span>
        </li>
        <% for(var i=0; i<registered.length; i++){ %>
          <li class="edit-item">
            <span class="col name-title"><%- registered[i]['name'] %></span>
            <span class="col contact-title"><%- registered[i]['contact'] %></span>
            <span class="col email"><%- registered[i]['email'] %></span>
            <span class="col delete"><a class="button-small" onclick="deleteRegistration(
              '<%- ws['id'] %>',
              '<%- registered[i]['name'] %>',
              '<%- registered[i]['contact'] %>',
              '<%- registered[i]['email'] %>',
              this
            )"><i class="fas fa-trash"></i></a></span>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</div>
</div>

<div class="popup" data-popup="popup-1">
  <div class="popup-inner  popup-register">
    <h class="popup-text">Update</h>
    <p class="popup-smalltext">Are you sure you want to update the details of this workshop?</p>

    <button class="popup-register-btn button btn-red"  onclick="submitEditItem()">Yes</button>
    <button class="popup-register-btn button btn-red" >No</button>
    <a class="popup-close" data-popup-close="popup-1" type="submit" value="Submit" href="#"><i class="fas fa-times"></i></a>
  </div>
</div>

<script src="/js/modal.js"></script>
<script src="/js/editItem.js"></script>
<script src="/js/dynamicTextbox.js"></script>

</body>
</html>
