<!doctype html>
<% include ../partials/headAdmin %>
<body>
  <% include ../partials/navigationAdmin %>
  <% include ../partials/searchbar %>
  <% include ../partials/banner %>
  <div class="wrapper cont-item">
    <div class="cont-item-wrapper">
      <div class="taskbar-inner">
        <a class="taskbar-btn button btn-red" data-popup-open="popup-1" id="sendEmail">Send Email</a>
        <a class="taskbar-btn button btn-red" data-popup-open="popup-2" id="endWorkshop">End Workshop</a>
        <a class="taskbar-btn button btn-red" data-popup-open="popup-3" id="deleteWorkshop">Delete Workshop</a>
      </div>
      <form action="/sc-admin/editWorkshop" method="POST" id="editWorkshopForm">
        <div class="cont-opaque-admin">
          <div class="cont-left">
            <textarea class=" input-item input-desc" type="text" name="description"><%- ws["desc"] %></textarea>
          </textarea>
        </div>
        <div class="cont-right">
          <input class="item-admin-row input-item" type="text" name="title" placeholder="Title"
          value= '<%- ws["title"] %>'>
          <input class="item-admin-row input-item" type="text" name="location" placeholder="Location"
          value= '<%- ws["location"] %>'>
          <input class="item-admin-row input-item" type="text" name="vacancy" placeholder="Vacancy"
          value= '<%- ws["vacancy"] %>'>
          <input class="item-admin-row input-item" type="text" name="date" placeholder="date" id="datepicker"
          value='<%- ws["date"] %>'>
          <input class="item-admin-row input-item" type="text" name="time" placeholder="time" id="timepicker"
          value='<%- ws["time"] %>'>
          <select class="item-admin-row-select input-item"  name="level" id="input-level">
            <option value="None">Select</option>
          </select>
          <div class="button btn-red" data-popup-open="popup-4" id="saveChanges">Save Changes</div>

        </div>
      </div>
    </form>
  </div>

  <div class="cont-registered">
    <ul class="edit-list-wrapper">
      <li class="dashboard-item dashboard-title">
        <span class="col name-title">Name</span>
        <span class="col contact-title">Contact</span>
        <span class="col email">Email</span>
      </li>
      <% for(var i=0; i<registered.length; i++){ %>
        <li class="edit-item">
          <span class="col name-title"><%- registered[i]['name'] %></span>
          <span class="col contact-title"><%- registered[i]['contact'] %></span>
          <span class="col email"><%- registered[i]['email'] %></span>
          <span class="col delete"><a class="button-small" onclick="deleteRegistration(
            '<%- ws['id'] %>',
            '<%- registered[i]['name'] %>',
            '<%- registered[i]['contact'] %>',
            '<%- registered[i]['email'] %>',
            this
            )"><i class="fas fa-trash"></i></a></span>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="popup" data-popup="popup-1">
  <div class="popup-inner  popup-register">
    <h class="popup-text">Send Email</h>
    <p class="popup-smalltext">Do you want to send a confirmation email to all participants?</p>
    <button class="popup-register-btn button btn-red" data-popup-close="popup-1" data-popup-open="popup-5" onclick="sendReminderEmail()" >Send</button>
    <a class="popup-close" data-popup-close="popup-1"><i class="fas fa-times"></i></a>
  </div>
</div>

<div class="popup" data-popup="popup-2">
  <div class="popup-inner  popup-register">
    <h class="popup-text">End Workshop</h>
    <p class="popup-smalltext">Do you want to end the workshop?</p>
    <button class="popup-register-btn button btn-red"  data-popup-close="popup-2" data-popup-open="popup-5" onclick="endWorkshop()">End</button>
    <a class="popup-close" data-popup-close="popup-2" href="#"><i class="fas fa-times"></i></a>
  </div>
</div>

<div class="popup" data-popup="popup-3">
  <div class="popup-inner  popup-register">
    <h class="popup-text">Delete Workshop</h>
    <p class="popup-smalltext">Do you want to delete the workshop?</p>
    <button class="popup-register-btn button btn-red"  data-popup-close="popup-3" data-popup-open="popup-5" onclick="deleteWorkshop()">Delete</button>
    <a class="popup-close" data-popup-close="popup-3" href="#"><i class="fas fa-times"></i></a>
  </div>
</div>

<div class="popup" data-popup="popup-4">
  <div class="popup-inner  popup-register">
    <h class="popup-text">Save Changes</h>
    <p class="popup-smalltext">Do you want to save the changes you made?</p>
    <button class="popup-register-btn button btn-red"  data-popup-close="popup-4" data-popup-open="popup-5" onclick="submitEditItem()">Save</button>
    <a class="popup-close" data-popup-close="popup-4" href="#"><i class="fas fa-times"></i></a>
  </div>
</div>

<div class="popup" data-popup="popup-5">
  <div class="popup-inner  popup-register">
    <h class="popup-text">Success</h>
    <p class="popup-smalltext">Click on the button below to return to the home page</p>
    <a class="popup-register-btn button btn-red" href="..">Return</a>
    <a class="popup-close" data-popup-close="popup-5" href="#"><i class="fas fa-times"></i></a>
  </div>
</div>

<% include ../partials/footer %>
<script type="text/javascript" src="/js/wickedpicker.min.js"></script>
<script src="/js/modal.js"></script>
<script src="/js/editItem.js"></script>
<script src="/js/dynamicTextbox.js"></script>

</body>
</html>
