<!doctype html>
<% include ../partials/head %>
<body>
  <% include ../partials/navigation %>
  <% include ../partials/searchbar %>
  <% include ../partials/banner %>

  <div class="wrapper cont-item">
    <div class="cont-item-wrapper">
      <div class="cont-left">
        <h class="item-desc-title">Description</h>
        <p class="item-desc-large">
          <%- ws['desc'] %>
        </p>
        <div class="register-btn button btn-red"  data-popup-open="popup-1">Register</div>
      </div>

      <div class="cont-right">
        <div class="item-row"><i class="far fa-user item-icon"></i><%- ws['occupied'] %>/<%- ws['vacancy'] %></div>
        <div class="item-row"><i class="fas fa-map-marker item-icon"></i><%- ws['location'] %></div>
        <div class="item-row"><i class="far fa-calendar item-icon"></i><%- ws['date'] %></div>
        <div class="item-row"><i class="far fa-clock item-icon"></i><%- ws['time'] %></div>
      </div>
    </div>
  </div>

  <div class="popup" data-popup="popup-1">
    <div class="popup-inner  popup-register">
      <h class="popup-text">Register</h>
      <p class="popup-smalltext">Indicated your interest for the workshop. We will inform you once the class is confirmed.</p>
      <form action="/action_page.php">
        <input id="name" class="input register-input" type="text" name="username" placeholder="Full Name">
        <input id="email" class="input register-input" type="text" name="email" placeholder="E-mail">
        <input id="contact" class="input register-input" type="text" name="contact" placeholder="Contact Number">
        <button class="popup-register-btn button btn-red"  data-popup-open="popup-2" data-popup-close="popup-1" onclick="register(<%- "ws['id']" %>)">Register</button>
      </form>
      <a class="popup-close" data-popup-close="popup-1" href="#"><i class="fas fa-times"></i></a>
    </div>
  </div>

  <div class="popup" data-popup="popup-2">
    <div class="popup-inner  popup-register">
      <h class="popup-text">Success</h>
      <p class="popup-smalltext">Register success! Click to return to the home page.</p>
      <a href="/"><button class="popup-register-btn button btn-red">Home</button></a>
      <a class="popup-close" data-popup-close="popup-2" href="#"><i class="fas fa-times"></i></a>
    </div>
  </div>

  <script src="/js/item.js"></script>
  <script src="/js/modal.js"></script>
  <script type='text/javascript'>
    var ws = <%-JSON.stringify(ws)%>
  </script>

</body>
</html>
